/**
 * Jerry's Custom CSS Reset (webpage) v0.1c
 * https://codeberg.org/jrm-omg/jerry-custom-css-reset
 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, iframe, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/**
 * Variables
 */

html {
  color-scheme: dark;
  --color-canvas-default: #0d1117;
  --color-canvas-subtle: #161b22;
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #8b949e;
  --color-accent-fg: #58a6ff;
  --color-accent-muted: rgba(56,139,253,0.4);
  --color-scale-green-0: #aff5b4;
  --color-border-default: #30363d;
}

/**
 * Global
 */

body {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
  font-size: calc(18rem / 16);
  display: grid;
  padding: calc(15rem / 16);
}

::selection {
  background-color: var(--color-accent-muted);
}

a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * Podcasts
 */

main > details > summary {
  cursor: pointer;
  color: var(--color-fg-muted);
}

main > details.loaded > summary {
  color: unset;
}

main > details.error-when-loaded > summary {
  text-decoration: line-through;
}

main > details > summary:hover {
  color: var(--color-scale-green-0);
}

main > details[open] > summary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--color-scale-green-0);
  background-color: var(--color-canvas-default);
}

/**
 * Episodes container
 */

main > details[open] > section {
  display: grid;
  gap: calc(15rem / 16);
  margin-top: calc(7.5rem / 16);
  margin-bottom: calc(7.5rem / 16);
}

@media (min-width: 48rem) {
  main > details[open] > section {
    gap: calc(30rem / 16);
    grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));
  }
}

/**
 * Episodes
 */

.episode {
  border: 0.125rem solid var(--color-border-default);
  border-radius: calc(6rem / 16);
  word-break: break-word;
}

@media (min-width: 48rem) {
  .episode {
    position: relative;
    padding-bottom: calc(54rem / 16);
  }
}

.episode:hover {
  border-color: var(--color-scale-green-0);
}

.episode h2 {
  background-color: var(--color-canvas-subtle);
  font-size: inherit;
  padding: 1rem;
  border-bottom: 0.125rem solid var(--color-border-default);
  border-top-left-radius: calc(6rem / 16);
  border-top-right-radius: calc(6rem / 16);
}

.episode .audio-container {
  padding: 1rem;
  display: flex;
}

.episode .audio-container audio {
  width: 100%;
}

.episode .description {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.episode .description a {
  color: currentColor;
}

.episode time {
  color: var(--color-fg-muted);
  display: block;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 48rem) {
  .episode time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/**
 * Footer
 */

footer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

footer a {
  display: block;
  padding: calc(15rem / 16);
  opacity: .5;
}

footer a:hover {
  opacity: unset;
}

footer svg {
  width: 1.5rem;
}

@media (min-width: 48rem) {
  footer svg {
    width: 2rem;
  }
}